<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button default-href="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Mantenimiento</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card style="text-align: center;">
        <ion-card-header>
            <ion-card-title>
                FORANEAS
            </ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-list>
        <ion-radio-group value="prioridad">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-item>

                            <ion-radio slot="start" value="prioridad"></ion-radio>
                            <ion-label>Prioridad</ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item>
                            <ion-label>Ruta</ion-label>
                            <ion-radio slot="start" value="ruta"></ion-radio>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-radio-group>
    </ion-list>
    <ion-card>
        <ion-card-header>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-card-title>CLV</ion-card-title>
                    </ion-col>
                    <ion-col>
                        <ion-card-subtitle>CALVILLO</ion-card-subtitle>

                        <div style="background-color: green; float: right; height: max-content; width: 15px;"> f</div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-card-subtitle>Foranea</ion-card-subtitle>
                    </ion-col>
                    <ion-col>
                        <ion-card-subtitle>Juan Rosales R.</ion-card-subtitle>
                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-card-header>
    </ion-card>
</ion-content>