ion-card {
    text-align: center;
    margin-top: 20px;
}

ion-button {
    margin-top: 20px;
    float: right;
    font-size: 10px;
}

button {
    background-color: white;
}

ion-searchbar {
    margin-top: 10px;
}