<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button default-href="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Correctivos</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>

    <form action="" enctype="multipart/form-data">
        <ion-button (click)="hacerFoto()">Tomar Foto</ion-button>
        <ion-img [src]="foto" *ngIf="foto"></ion-img>
        <ion-input [(ngModel)]='informacionImagen' name="w"></ion-input>
        <ion-button (click)="guardarFoto()">Guardar Foto</ion-button>
        <ion-button (click)='obtenerImg()'>Mostrar Foto</ion-button>
    </form>
    <ion-img src="http://localhost:3000/imagenes/out.jpg"></ion-img>

</ion-content>