<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button default-href="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Correctivos</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button (click)="agregar()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>


    <ion-item>
        <ion-label>Hallazgos</ion-label>
        <ion-select [(ngModel)]="opcion">
            <ion-select-option value="f">Female</ion-select-option>
            <ion-select-option value="m">Male</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-searchbar></ion-searchbar>
    <br><br>

    <ion-card (click)="r()">
        <ion-card-header>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-card-subtitle>CTBR
                            <ion-label color="danger">32</ion-label>
                        </ion-card-subtitle>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
    </ion-card>

    <div *ngIf="mostrardiv">
        <p style="color: gray; float: left;">CTBR
        </p>
        <p style="color: red; float: right;">32
        </p>
        <ion-card class="interna">
            <ion-card-header>
                <ion-card-subtitle style="color: rgb(13, 255, 5);">LOCAL
                    <ion-icon name="flame-outline" style="color: rgb(255, 5, 5); float: right;"></ion-icon>
                </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <p style="float: left;">RRA-200519-0101</p>
                <p style="float: right;">Parras</p>
                <br>
                <p style=" margin-left: 245px;">SCM</p>


            </ion-card-content>
        </ion-card>

        <ion-card class="interna">
            <ion-card-header>
                <ion-card-subtitle style="color: rgb(255, 126, 5);">FORANEA
                    <ion-icon name="flame-outline" style="color: rgb(255, 5, 5); float: right;"></ion-icon>

                </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <p style="float: left;">CVL-200519-0101</p>
                <p style="float: right;">Calvillo</p>
                <br>
                <p style=" margin-left: 245px;">SCM</p>



            </ion-card-content>
        </ion-card>
        <button (click)="hide()">
            <ion-icon name="chevron-up-outline"></ion-icon>
        </button>

        <br>
    </div>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle style="color: red;">5</ion-card-subtitle>
            <ion-card-subtitle>FyCSA</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle style="color: red;">10</ion-card-subtitle>
            <ion-card-subtitle>CM FZA</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle style="color: red;">2</ion-card-subtitle>
            <ion-card-subtitle>CM CX</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle style="color: red;">15</ion-card-subtitle>
            <ion-card-subtitle>SP. PAT</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
    </ion-card>



</ion-content>