<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button default-href="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Correctivos</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>

    <!--
    <form action="" enctype="multipart/form-data">
        <ion-button (click)="hacerFoto()">Tomar Foto</ion-button>
        <ion-img [src]="foto" *ngIf="foto"></ion-img>
        <ion-input [(ngModel)]='informacionImagen' name="w"></ion-input>
        <ion-button (click)="guardarFoto()">Guardar Foto</ion-button>
        <ion-button (click)='obtenerImg()'>Mostrar Foto</ion-button>
    </form>
    <ion-img src="http://localhost:3000/imagenes/out.jpg"></ion-img>-->
    <ion-item>
        <ion-label> Hallazgos</ion-label>
        <select [(ngModel)]="empresa">
          <optgroup >
            <option ></option>
            <option value="figza">FIGZA</option>
            <option value="ctbr">CTBR</option>
            
          </optgroup>
        </select>
    </ion-item>

    <ion-searchbar></ion-searchbar>
    <br><br>

    <ion-card (click)="r()">
        <ion-card-header>
            <ion-card-subtitle style="color: red;">32</ion-card-subtitle>
            <ion-card-subtitle>CTBR</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
    </ion-card>

    <div *ngIf="mostrardiv">
        <p style="color: gray;">CTBR
        </p>
        <ion-card class="interna">
            <ion-card-header>
                <ion-card-subtitle style="color: rgb(13, 255, 5);">LOCAL
                    <ion-icon name="flame-outline" style="color: rgb(255, 5, 5); float: right;"></ion-icon>
                </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <p style="float: left;">RRA_20-05-19/01</p>
                <p style="float: right;">Parras</p>
                <p style="float: left;">- Iluminacion y Electricidad</p>
                <p style="float: right;">SCM</p>


            </ion-card-content>
        </ion-card>

        <ion-card class="interna">
            <ion-card-header>
                <ion-card-subtitle style="color: rgb(255, 126, 5);">FORANEA
                    <ion-icon name="flame-outline" style="color: rgb(255, 5, 5); float: right;"></ion-icon>
                </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <p style="float: left;">CVL_20-05-19/01</p>
                <p style="float: right;">Calvillo</p>
                <p style="float: left;">- Limpieza y Albañileria</p>

                <p style="float: right;">SCM</p>


            </ion-card-content>
        </ion-card>
        <button (click)="hide()">
            <ion-icon name="chevron-up-outline"></ion-icon>
        </button>

        <br>
    </div>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle style="color: red;">5</ion-card-subtitle>
            <ion-card-subtitle>FyCSA</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle style="color: red;">10</ion-card-subtitle>
            <ion-card-subtitle>CM FZA</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle style="color: red;">2</ion-card-subtitle>
            <ion-card-subtitle>CM CX</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle style="color: red;">15</ion-card-subtitle>
            <ion-card-subtitle>SP. PAT</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
    </ion-card>



</ion-content>