<ion-header>
    <ion-toolbar color="primary">
        <ion-title> Registro de Usuario</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/login'>Volver</ion-back-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content fullscreen>
    <br>
    <img src="assets/images/mp-image.png" (click)="show()" id="img">
    <ion-button *ngIf="base64Image" (click)="quitarImagen()">
        <ion-icon name="close-circle-outline"></ion-icon>
    </ion-button>
    <br>
    <ion-item class="alias">
        <ion-label>Alias</ion-label>
        <ion-input placeholder="Ejemplo SCM" [(ngModel)]="alias"></ion-input>
    </ion-item>
    <br><br>
    <ion-item>
        <ion-label>Empresa</ion-label>
        <select name="cars" id="cars" [(ngModel)]="empresa">
          <optgroup >
            <option ></option>
            <option value="Telmex">Telmex</option>
            <option value="Telcel">Telcel</option>
            
          </optgroup>
        </select>
    </ion-item>

    <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-input [(ngModel)]="nombre"></ion-input>

    </ion-item>
    <ion-item>
        <ion-label>Apellidos</ion-label>
        <ion-input [(ngModel)]="apellidos"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Categoria</ion-label>
        <select [(ngModel)]="categoria">
          <optgroup >
            <option ></option>
            <option value="Tecnico">Tecnico</option>
            <option value="Programador">Programador</option>
            
          </optgroup>
        </select>
    </ion-item>
    <ion-item>
        <ion-label>Expediente</ion-label>
        <ion-input [(ngModel)]="expediente"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Telefono</ion-label>
        <ion-input [(ngModel)]="telefono"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>CM</ion-label>
        <select [(ngModel)]="cm">
          <optgroup >
            <option ></option>
            <option value="Aguascalientes">Aguascalientes</option>
            <option value="Guadalajara">Guadalajara</option>
            
          </optgroup>
        </select>
    </ion-item>
    <ion-item>
        <ion-label>Correo</ion-label>
        <ion-input [(ngModel)]="correoelectronico"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="confirmacion"></ion-input>
    </ion-item>
    <br>
    <ion-button class="guardar" outline (click)='guardar()'>Guardar</ion-button>
    <hr>
    <br>
    <ion-footer class="ion-no-border">
        <ion-toolbar style="text-align: center;">
            <ion-title style="font-size: 12px;"></ion-title>
        </ion-toolbar>
    </ion-footer>


</ion-content>