.icon {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

iom-item {
    padding-top: 10px;
    padding-left: 10px;
}

.guardar {
    float: right;
    padding-right: 20px;
}