<ion-app>
    <ion-router-outlet></ion-router-outlet>
</ion-app>

<ion-app>
    <ion-menu contentId="content1" side="start">
        <ion-header>
            <ion-toolbar color="primary">
                <ion-title>Menu</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-item routerLink='/mantenimiento'>Mantenimiento</ion-item>
                <ion-item routerLink='/correctivos'>Correctivos</ion-item>
                <ion-item routerLink='/almacen'>Almacen</ion-item>
                <ion-item routerLink='/administrativo'>Administrativo</ion-item>
                <ion-item routerLink='/calendario'>Calendario</ion-item>
                <ion-item routerLink='/configuracion'><ion-icon name="construct"></ion-icon>Configuracion</ion-item>
                <ion-item routerLink='/perfil'><ion-icon name="contact"></ion-icon>Perfil</ion-item>
                <ion-item routerLink='/centrales'>Centrales</ion-item>
                <ion-item routerLink='/usuarios'>Usuarios</ion-item>
                <ion-item routerLink='/actores'>Actores, Actividades y Tareas</ion-item>
                <ion-item routerLink='/archivo'>Archivo Muerto</ion-item>
                <ion-item routerLink='/tutoriales'>Tutoriales</ion-item>
                <ion-item (click)='cerrarSesion()'><ion-icon name="exit"></ion-icon>Cerrar Sesion</ion-item>



            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>