<ion-header>
    <ion-toolbar color="primary">
        <ion-title><img src="assets/images/logo-ca2.png" style="width:60px"></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <img class="icon" src="assets/images/logo-ca2.png" alt="">
    <br>
    <br>

    <ion-item>
        <ion-label>
            <ion-icon name="person-outline"></ion-icon>
        </ion-label>
        <ion-input placeholder="Correo" value="{{usuario}}" [(ngModel)]="usuario"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>
            <ion-icon name="key-outline"></ion-icon>
        </ion-label>
        <ion-input placeholder="Contraseña" id="contraseña" type="password" value="{{password}}" [(ngModel)]="password"></ion-input>
    </ion-item>

    <br>
    <a class="a" routerLink='/recuperar'>Recuperar mi contraseña</a>
    <br>
    <ion-button routerLink='/home'>Iniciar sesion</ion-button>
    <br>
    <a class="a" routerLink='/registro'>Registate</a>


</ion-content>