.icon {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ion-button {
    width: 280px;
    margin: auto;
    margin-top: 10px;
    margin-left: 20px;
}

ion-item {
    width: 280px;
    margin: auto;
    margin-top: 20px;
    background-color: unset;
}

ion-input {
    text-align: left;
    color: rgb(141, 138, 138);
    font-size: 18px;
}

.a {
    float: right;
    padding-top: 10px;
    padding-right: 20px;
}

.b {
    float: right;
    padding-top: 10px;
    padding-right: 20px;
    margin-block-end: 20px;
}

ion-card {
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
}