<ion-header>

</ion-header>

<ion-content padding>
    <ion-card>
        <img class="icon" src="assets/images/logo-ca2.png" alt="">
        <br>
        <br>

        <ion-item>
            <ion-label>
                <ion-icon name="person-outline"></ion-icon>
            </ion-label>
            <ion-input placeholder="Correo" value="{{usuario}}" [(ngModel)]="usuario"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>
                <ion-icon name="key-outline"></ion-icon>
            </ion-label>
            <ion-input placeholder="Contraseña" id="contraseña" type="password" value="{{password}}" [(ngModel)]="password"></ion-input>
        </ion-item>

        <br>
        <a class="a" routerLink='/recuperar'>Olvide mi contraseña</a>
        <br>
        <ion-button (click)="logear()">Iniciar sesion</ion-button>
        <br>
        <a class="b" routerLink='/registro'>Registrate</a>

    </ion-card>

</ion-content>