<ion-header>

    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button default-href="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Permisos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-card-title>Clave</ion-card-title>
                    </ion-col>
                    <ion-col>
                        <ion-card-title>Descripcion</ion-card-title>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-card-subtitle>Admin</ion-card-subtitle>
                    </ion-col>
                    <ion-col>
                        <ion-card-subtitle>Dar y quitar permisos a otros usuarios</ion-card-subtitle>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-card-subtitle>User</ion-card-subtitle>
                    </ion-col>
                    <ion-col>
                        <ion-card-subtitle>Permisos normales de usuario</ion-card-subtitle>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>